.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 30px;
   background-color: rgb(211, 229, 236);   
   text-align: center;
 }

 .footer a{
   font-size: 15px;
   color: rgb(2, 10, 81);
   line-height: 15px;
   padding-left: 10px;
   text-decoration: none;
 }

  .footer a:hover{
    text-decoration: underline;
  }