.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  line-height: 25px; /* Increased text to enable scrolling */
  padding: 30px 0px;
}



  .inAddEducation {
    width: 100%;   
  }


  .information { 
    margin-top: 0px; 
    height: 300px;
  } 
   
  .information article { 
      overflow:hidden; 
  } 
   
    .information article hgroup { 
    margin-top:16px;
    } 
   
    .information article figure { 
    float: left; 
    width: 180px; 
    height: 220px; 
    padding: 0px; 
    margin: 20px; 
    border: 2px solid #d4d2ed;
    } 

  h2 { 
    margin: 10px 0px; 
    text-align: center;
    padding: 10px;
    line-height: 30px;
    color: rgb(7, 32, 156);
  } 
     
  h3 { 
    margin: 2px 10px; 
    color: skyblue;
    line-height: 20px;
    text-align: center;
  } 

  .experience{
    float: left;
  }
       
  .experience article{
    display: inline-block;
    height: 240px;
    width: 50%;
  }
       
  .experience figure{
    float: left; 
    width:240px; 
    height: 130px; 
    padding: 0px; 
    margin: 10px; 
    border: 2px solid #d4d2ed;
  }
  
  .experience h3{
    text-align: left;
  }

  .experience p{
    height:130px ;
    display: flex;
    text-align: left;
  }


  .eduAddContact { 
    margin-left: 10px;
    padding: 0px 0px 0px 20px;
    } 
   
  .eduAddContact a { 
    display: block; 
    padding: 10px; 
    color: skyblue; 
    font-weight: bolder;
    line-height: 20px;
    text-decoration: none;
    } 
  
   
  .eduAddContact a:hover { 
    color: rgb(236, 131, 148); 
    background-color: white;
    border-bottom: 1px solid rgb(236, 131, 148);
    } 
   
  .eduAddContact h2 { 
    padding: 25px 0px 10px 0px; 
    color: rgb(7, 32, 156);} 

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  
 